<p style="color: green"><%= notice %></p>

<h1>Monuments</h1>

<div data-controller="insert-in-list">
  <div id="monuments" data-insert-in-list-target='items'>
    <% @monuments.each do |monument| %>
      <%= render monument %>
      <p>
        <%= link_to "Show this monument", monument %>
      </p>
    <% end %>
  </div>

  <%#= link_to "New monument", new_monument_path %>

  <button class='btn btn-danger' data-controller="confetti" data-action='click->confetti#explode'>Don't Click!</button>

  <div data-controller="toggle">
    <button class='btn btn-primary' data-action='click->toggle#fire'>Add New Monument</button>
    <div data-toggle-target='toggableElement' class="d-none">
      <%= render 'form', monument: @monument %>
    </div>
  </div>

</div>
